@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: DancingScript;
	src: url(../fonts/DancingScript-Regular.otf);
}
body{
	font-family: DancingScript;
	background-color: #02010a;
}
img{
	box-shadow: 2px 2px 16px #02010a;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width:899px){
	#contenido{
		width: 100%
	}
	
	#titulo{
		width: 100%;
		text-align: -webkit-center;
	}
	
	#menu{
		width: 100%;
		text-align: -webkit-center;
	}
	
	.imagen-secundaria-50{
		width: 100%;
	}
	
	.imagen-secundaria-33{
		width: 100%;
	}
}
@media screen and (min-width: 900px){
	#contenido{
		max-width: 900px;
		width: 100%;
	}
	
	#titulo{
		width: 70%;
		float: left;
	}
	
	#menu{
		width: 30%;
		float: left;
	}
	
	.imagen-secundaria-50{
		width: 50%;
	}
	
	.imagen-secundaria-33{
		width: 33.33333%;
	}
}


#cabecera{
	background-color: #5b7989;
	color: white !important;
	text-shadow: 2px 2px 10px #02010a;
	border-radius: 10px 10px 0px 0px;
	width: 96%;
	float: left;
	padding: 2%;
}

header .active{
	text-decoration: none;
}

header a{
	color: white;
	vertical-align: -webkit-baseline-middle;
	font-size: 20px;
	margin-left: 20px;
}

.imagen-central{
	text-align: center;
	background-color: #82c3a6;
	float: left;
	padding: 20px;
}
.imagen-central img{
	width: 70%;
}

.imagen-secundaria{
	background-color: #d5c75f;
	float: left;
	padding: 10px;
}

.imagen-secundaria-50{
		float: left;
		text-align: -webkit-center;
		margin: 20px 0;
			
}
.imagen-secundaria-33{
		float: left;
		text-align: -webkit-center;
		padding: 10px 0;
			
}

.img-33{
	width: 90%;
	margin: 0 5%;
}

#imagen1{
	filter: blur(10px);
}

#imagen2, #imagen4, #imagen6{
	filter: grayscale(100%);
}

#imagen3{
	filter: sepia(90%);
}

#paisajes{
	width: 70%;
	transition: transform, border;
	transition-duration: 1s,0.5s;
}

#retratos{
	width: 70%;
	transition: transform, border;
	transition-duration: 1s,0.5s;
}

#paisajes:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px 11px 0.5em #82c3a6;
	border: 2px solid;
}

#retratos:hover{
	transform: translate(20px,-5px);
	transition: transform, border;
	transition-duration: 1s,0.5s;
	box-shadow: 2px 2px 11px 0.5em #82c3a6;
	border: 2px solid;
}
